@media only screen and (max-width: 1800px) {
  .popular-places .card {
    width: 15%;
  }

  .about-section .left-side {
    width: 40%;
  }
}

@media only screen and (max-width: 1636px) {
  .hero-button {
    width: 20%;
  }

  .popular-cards {
    flex-wrap: wrap;
  }

  .popular-cards .card {
    width: 28%;
  }
  .popular-cards .card img {
    width: 100%;
  }

  .activities .card {
    width: 20%;
  }

  .activities .card img {
    width: 100%;
  }

  header,
  main {
    width: 90% !important;
  }

  .footer-content {
    width: 90% !important;
  }
}

@media only screen and (max-width: 1439px) {
  header .middle {
    width: 66%;
  }

  .hero-search {
    width: 75%;
  }

  .about-section .right-side {
    width: 100%;
  }

  .about-section .right-side img {
    width: 70%;
  }

  .about-section .left-side {
    width: 100%;
  }

  .footer-subscribe {
    width: 30%;
  }
}

@media only screen and (max-width: 1500px) {
  .hero-search {
    width: 70.43%;
  }

  .footer-content {
    flex-wrap: wrap;
    padding: 4.5rem 0rem;
  }

  .footer-links {
    margin-top: 4rem;
  }

  .footer-brand {
    margin-top: 4rem;
    width: 50%;
  }

  .footer-subscribe {
    width: 100%;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 1240px) {
  .hero-button {
    width: 27%;
  }

  .footer-subscribe {
    width: 40%;
  }

  .subscribe-form {
    width: 100%;
  }
}

@media only screen and (max-width: 1160px) {
  header .middle {
    width: 73%;
  }

  header {
    padding-top: 0.5rem;
  }

  .hero-search {
    padding: 0.01 !important;
  }

  .search-button {
    /* margin-right: 1rem; */
  }

  .search-location,
  .search-activity,
  .search-date,
  .search-guests {
    padding: 0rem;
  }

  .hero-title {
    margin-top: 9rem !important;
  }

  .hero-button {
    margin-bottom: 9rem !important;
  }

  .about-section .left-side {
    width: 50%;
  }

  .popular-destinations {
    margin: 5.5rem 0rem;
  }

  .popular-places {
    margin-bottom: 5.5rem;
  }

  .about-section {
    margin: 5.5rem auto;
  }

  .about-section .right-side {
    width: 100%;
  }

  .about-section .right-side img {
    width: 90%;
  }

  .about-section .left-side {
    width: 100%;
  }

  .animation img {
    /* width: 10%; */
  }

  .hero-title h1 {
    font-size: 2.4rem;
  }

  .footer-column li {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 1060px) {
  header .middle {
    width: 70%;
  }

  .hero-button {
    padding: 1rem 0rem !important;
  }

  .footer-content {
    padding: 5.5rem 0rem;
  }
}

@media only screen and (max-width: 990px) {
  .search-button,
  .subscribe-button {
    padding: 0.7rem !important;
  }

  .middle {
    display: none;
  }

  header .right-side {
    justify-content: flex-end;
  }

  header .right-side .menu-icon {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  header .right-side img {
    display: block !important;
  }

  .hero-search {
    width: 85%;
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-brand {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 6rem;
    order: 1;
  }

<<<<<<< HEAD
  .subscribe input {
=======
  .footer-logo  {
    margin-left: 1.3rem;
  }

  input {
>>>>>>> ac171a95fe567d231884d5b8e2716381d994204c
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer-column li {
    width: 0%;
    text-align: none;
  }

  .footer-social-media {
    width: 20%;
    margin: auto;
  }

  .footer-links {
    width: 50%;
  }

  .footer-subscribe {
    width: 40%;
  }
}

@media only screen and (max-width: 866px) {
  .main-background {
    padding-bottom: 2rem !important;
  }

  .hero-title h1 {
    font-size: 2rem;
  }

  .hero-search {
    width: 90%;
  }

  .hero-search p {
    font-size: 0.7rem !important;
  }

  .hero-button {
    width: 40%;
    margin-bottom: 2rem !important;
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-brand {
    text-align: center;
    margin: auto;
    width: 80%;
  }

  .footer-social-media {
    width: 40%;
    text-align: center;
    margin: auto;
  }

  .footer-links {
    text-align: center;
    margin: 3rem auto !important;
    width: 80%;
  }

  .footer-column li {
    width: 100%;
    text-align: center;
  }

  .footer-subscribe,
  .subscribe {
    width: 80%;
    text-align: center;
    margin: 2rem auto !important;
  }

  .subscribe {
    justify-content: space-between !important;
  }

  form {
    width: 100%;
  }

  .content .right-side {
    width: 100% !important;
  }

  .content .left-side {
    width: 100% !important;
  }

  .content video,
  table {
    margin: 1rem 0rem;
    border-radius: 0.5rem !important;
  }

  table td {
    padding: 0.5rem 0rem;
  }

  .content {
    flex-wrap: wrap;
  }

  .popular-places td,
  .popular-places th {
    padding-left: 1rem !important;
  }
}

@media only screen and (max-width: 600px) {
  header .right-side {
    width: 70%;
  }

  .hero-button {
    width: 50%;
    font-size: 1rem;
  }

  .hero-title h1 {
    font-size: 1.5rem;
  }

  .hero-title {
    margin-top: 1rem !important;
  }

  .popular-destinations p {
    font-size: 0.7rem;
  }

  .popular-destinations h2 {
    margin-bottom: 2rem;
  }

  table {
    font-size: 0.8rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  .about-section {
    flex-wrap: wrap;
  }

  .about-section .right-side {
    display: none !important;
  }

  .footer-content {
    padding: 1rem 0rem !important;
  }

  .about-section {
    text-align: center;
  }

  .about-section h2 {
    margin: auto;
  }

  .about-section .view {
    margin: auto;
  }

  .popular-destinations {
    margin: 2rem 0rem;
  }

  .content .right-side {
    width: 100% !important;
  }

  .content .left-side {
    width: 100% !important;
  }

  .content video,
  table {
    margin: 1rem 0rem;
    border-radius: 0.5rem !important;
  }

  table td {
    padding: 0.5rem 0rem;
  }

  .content {
    flex-wrap: wrap;
  }

  .cards {
    flex-wrap: wrap;
  }

  .popular-cards .card {
    width: 30%;
    margin-bottom: 1rem;
  }

  .hero-search {
    display: none;
  }

  .animation img {
    width: 20%;
    top: -2rem;
  }

  form {
    margin: 0.2rem !important;
  }

  input {
    padding: 1rem 0rem;
  }

  .footer-links .footer-column {
    width: 100%;
    margin-bottom: 1rem;
  }

  .footer-subscribe,
  .subscribe {
    width: 100%;
    margin: 0rem auto;
  }

  .footer-column ul {
    margin: auto;
  }

  .footer-links {
    flex-wrap: wrap;
    margin: 1rem auto !important;
  }

  .footer-social-media {
    width: 50%;
  }

  .subscribe {
    margin: auto;
    width: 100%;
  }

  header .right-side .text,
  header .right-side .profile-photo {
    display: none;
  }

  header .right-side .menu-icon {
    margin-top: 0rem;
  }

  header .right-side .menu-icon {
    margin: 0rem !important;
  }
}

@media only screen and (max-width: 680px) {
  .hero-search {
    display: none !important;
  }
  .seacrh-column {
    display: block !important;
  }
}

@media only screen and (max-width: 450px) {
  .hero-title h1 {
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
  }

  .hero-button {
    width: 60%;
    padding: 0.8rem 0rem !important;
    text-align: center;
  }

  .hero-button img {
    display: none;
  }

  .hero-search {
    display: none;
  }

  .animation img {
  }

  .popular-cards .card {
    width: 48%;
  }

  .activities .cards {
    flex-wrap: wrap;
  }

  .activities .card {
    width: 45%;
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }

  .about-section {
    margin: 1rem auto;
  }

  header .right-side .profile-photo .photo {
    width: 80%;
  }

  header p,
  li {
    font-size: 0.7rem;
  }

  header .left-side img {
    width: 80%;
  }

  .about-section .left-side p {
    font-size: 0.8rem !important;
  }

  .popular-places .view,
  .activities .view,
  .about-section .view {
    padding: 0.4rem;
    border-radius: 0.2rem;
  }

  .title h2 {
    font-size: 1.2rem !important;
  }

  .popular-places {
    margin-bottom: 2rem;
  }

  .main-background {
    border-radius: 0rem 0rem 0.6rem 0.6rem;
  }
}

@media only screen and (max-width: 375px) {
  .hero-title h1 {
    font-size: 1rem;
  }

  .hero-button {
    font-size: 0.8rem;
    margin-bottom: 0.5rem !important;
  }

  .footer-subscribe,
  .subscribe {
    width: 100%;
  }

  .animation img {
    width: 20%;
  }
}

@media only screen and (max-width: 311px) {
  .subscribe,
  .title {
    flex-wrap: wrap;
  }
  .subscribe-button {
    margin-top: 0.5rem;
    width: 100%;
  }
  .hero-title {
    margin: 0.2rem 0rem !important;
  }
  form img {
    display: none;
  }

  .animation img {
    top: -4rem;
  }
}

@media only screen and (max-width: 270px) {
  .discover {
    display: none;
  }

  .mobile {
    display: block !important;
  }
  .hero-button {
    width: 80%;
  }
  .content .right-side {
    width: 100%;
    overflow-x: scroll;
  }

  .footer-social-media {
    width: 100%;
  }

  .title h2 {
    width: 100%;
    font-size: 1rem !important;
    text-align: center;
  }

  .title {
    justify-content: center !important;
    margin-bottom: 0rem !important;
  }

  .popular-destinations h2 {
    text-align: center;
    font-size: 1rem !important;
    justify-content: center !important;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popular-cards .card {
    width: 60%;
  }

  .popular-places .view,
  .activities .view,
  .about-section .view {
    background-color: white;
  }

  .card .bottom {
    text-align: center;
  }

  .activities .card {
    width: 80%;
  }

  .card {
    text-align: center;
  }
  form {
    margin: 0rem !important;
    padding-left: 0rem;
  }

  input {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  input::placeholder {
    padding-left: 0.5rem;
  }
}
